* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 244, 251); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 900px;
    height: 550px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden; 
}

.inputs {
    margin-top: 20px;
}


.left_container {
    width: 50%;
    padding: 40px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    color: rgb(19, 48, 66);
}

.label {
    margin-top: 20px;
}


.input {
    display: flex;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: rgb(227, 244, 251); 
}

.prefix {
    background-color: rgb(227, 244, 251); 
    padding: 10px 15px;
    color: rgb(19, 48, 66);
    
}
.input span {
    padding: 10px;
}

.input-one {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 2px solod rgb(113, 9, 216);
}
.input input {
    padding: 10px;
    width: 100%
    
}

.input-group {
    display: flex;
}

.types {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radio-container {
    display: flex;
    align-items: center;
    padding: 12px 15px; 
    border: 1px solid #777;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(19, 48, 66);
}


.btn {
    border: 2px solid red;
    display: flex;
    align-items: center;
    margin: 10px 60px 20px 10px;
    border-radius: 30px;
    padding: 15px ;
    margin: o auto;
    background-color: yellow;
    justify-content: center;
}



.right_container {
    color: white;
    width: 50%;
    background-color: rgb(19, 48, 66); 
    
}
.right_container h2 {
    margin-top: 260px;
    margin-left: 80px;
}

.right_container p {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}